.appointment {
  &__section {
    h2 {
      font-size: 24px;
      font-weight: 600px;
      color: #212121;
      padding-left: 24px;
      padding-right: 24px;

      @include respond-above(tablet) {
        order: 0;
      }

      @include respond-above(laptop) {
        display: none;
      }
    }

    &__inner-container {
      @include respond-above(laptop) {
        display: flex;
        max-width: 1024px;
        margin-left: auto;
        margin-right: auto;
      }
    }

    &__card-container {
      &__login {
        background-color: #f2f2f2;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 24px;
        padding-right: 24px;
        margin-left: 24px;
        margin-right: 24px;
        margin-top: 20px;
        font-size: 14px;
        line-height: 20px;
        color: #333;
        margin-bottom: 32px;

        @include respond-above(tablet) {
          order: 1;
          margin-left: 24px;
        }

        @include respond-above(laptop) {
          margin-left: 0;
        }

        p {
          display: block;

          @include respond-above(laptop) {
            display: inline;
          }
        }

        a {
          text-decoration: none;
          color: #007f41;
          font-weight: 600;

          &:hover {
            text-decoration: underline;
          }

          &:visited {
            text-decoration: none;
          }
        }
      }

      &__go-back {
        display: flex;
        color: #007f41;
        padding-left: 24px;
        margin-top: 12px;
        padding-bottom: 32px;
        transform: translateX(-8px);
        text-decoration: none;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }

        @include respond-above(laptop) {
          display: none;
        }

        .svg--green {
          width: 28px;
          height: 28px;
          path {
            fill: #007f41;
          }
        }
      }

      @include respond-above(laptop) {
        width: 100%;
        padding-left: 32px;
      }
    }
  }
}

.appointment-card-list {
  border-top: 1px solid #ebebeb;
  padding-left: 0;
  margin-top: 0;
  margin-left: 24px;
  margin-right: 24px;
  color: #333;

  @include respond-above(tablet) {
    order: 3;
  }

  @include respond-above(laptop) {
    margin-left: 0;
    border-top: none;
  }

  li {
    @include respond-above(laptop) {
      border: 1px solid #ebebeb;
      padding-left: 24px;
      padding-right: 24px;
      margin-bottom: 20px;
    }
  }

  &--location {
    li {
      padding-left: 0;
      padding-right: 0;
    }

    @include respond-above(laptop) {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
