<section class='appointment-container'>
  <div class='appointment-container__background'>
    <div class='appointment-container__title'>
      <h1>Request an appointment</h1>
    </div>
  </div>
  {{yield}}
</section>