<section class='service-page__section'>
  <h2>Select Service</h2>
  <div class='service-page__section__inner-container'>
    <div class='service-page__section__appointment-steps'>
      <ol>
        <li>
          Select Service
        </li>
        <li>
          Select Location
        </li>
        <li>
          Select Date &amp; Time
        </li>
        <li>
          Your Information
        </li>
      </ol>
    </div>
    <div class='service-page__section__service-container'>
      <div class='service-page__section__service-container__login'>
        <p>Already a client?</p>
        <p>To request an appointment,
          <a href='https://google.com' rel='nofollow noopener'>Sign In</a></p>
      </div>
      <ul
        role='list'
        class='service-page__section__service-container__service-list'
      >
        {{#each this.model as |service|}}
          <AppointmentCard
            @title={{service.description}}
            @description={{concat service.duration ' minutes'}}
          />
        {{/each}}
      </ul>
    </div>
  </div>
</section>