{{page-title 'Request Appointment | Demo Practice | SimplePractice'}}
<main class='appointment-page'>
  <header class='appointment-page__header'>
    <h1>Demo Practice</h1>
  </header>
  <section class='appointment-page__section'>
    <div class='appointment-page__section__background'>
      <div class='appointment-page__section__title'>
        <h1>Request an appointment</h1>
      </div>
    </div>
    {{outlet}}
  </section>
</main>