{{page-title 'Request Appointment | Demo Practice | SimplePractice'}}
<main class='appointment-page'>
  <header class='appointment-page__header'>
    <h1>Demo Practice</h1>
  </header>
    {{outlet}}
</main>